body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    color: white;
    background: url("../../assets/img/background.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
}

.header .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .navbar-nav>li {
    margin-right: 20px;
}

.header .navbar-nav {
   margin-top: 12px;
}

.header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header .navbar-toggle .icon-bar {
    background-color: white;
}

.header .navbar-brand {
    margin-top: 5px;
    margin-bottom: 10px;
}

.header .navbar-brand:hover {
    color: #ccc;
}

.header .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.header .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}


.header .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}

.header .btn-primary:active {
    transform:translateY(1px);
}

.header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-size: 18px;
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: white;
        font-size: 18px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 15px;
        border-top: none;
        box-shadow: none;
    }

    .header .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .hero h1{
        font-size: 42px;
    }
}

#intro img {
    width: 70%;
}

/* 当屏幕宽度小于 768px 时（例如手机），图片宽度变为 100% */
@media (max-width: 768px) {
    #intro img {
        width: 100%;
    }
}

#intro a{
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 水平居中 */
    gap: 0;
}

footer {
    font-size: 1.5em; /* 将字体大小放大1.5倍，或者你可以设置具体的像素值 */
}

#essay {
    width: 85%;
}

/* 当屏幕宽度小于 768px 时（例如手机），图片宽度变为 100% */
@media (max-width: 768px) {
    #essay {
        width: 100%;
    }
}